<nav>
    <h2 id='logo'>Appcent!</h2>
    <ul>
      <li><a href='/appc'>Home</a></li>
      <li><a href='/appc/game'>Games</a></li>
      <li><a href='/appc'>User</a></li>
      <li><a href='/auth/logout'>Logout</a></li>
      <li id='logged-as'>Logged in as: <%= username %></li>
    </ul>
</nav>