<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href='static/styles/reset.css' rel='stylesheet'/>
  <link href='static/styles/style.css' rel='stylesheet'/>
  <title><%= documentTitle %></title>
</head>
<body>
<div id='welcome-div'><h1> Welcome to <span>Appcent</span>!</h1></div>
<div class='background-block'><h2>The accent modification platform!</h2></div>
<div id='sign-log-div'>
  <div id='login' class='button'>LOGIN</div>
  <div id='signup' class='button'>SIGN UP</div>
  <div id='login-div' class='hidden'>
    <div class='back-button button'>←</div>
    <form id='login-form' method='POST' action='/auth/login'>
      <input name='username' type='text' placeholder='Username'/>
      <input name='password' type='password' placeholder='Password'/>
      <input class='submit-button button' type='submit' value="Let's Go!"/>
    </form>
  </div>
  <div id='signup-div' class='hidden'>
    <div class='back-button button'>←</div>
      <form method='POST' action='/auth/register'>
        <input name='username' type='text' placeholder='username' />
        <input name='first_name' type='text' placeholder='first name' />
        <input name='last_name' type='text' placeholder='last name' />
        <input name='email' type='email' placeholder='email' />
        <input name='password' type='password' placeholder='password' />
        <input class='submit-button button' type='submit' value='Register!' />
      </form>
  </div>
</div>

<% include ./partials/footer %>
<% include ./partials/end %>