<% include ../partials/boilerplate %>
<% include ../partials/nav %>
<p>hey it's the admin page</p>






<script src='/static/js/test.js'></script>
<% include ../partials/footer %>
<% include ../partials/end %>