<% include ../partials/boilerplate %>
<h1>We're sorry, you must be an admin to access this page.</h1>  
<h2>You will be redirected to the home page in <span id='timer'>3</span></h2>
<script src='/static/js/notLogged.js'></script> 
<% include ../partials/footer %>
<% include ../partials/end %>